.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:things, :index)
      %li=link_to pat(:new), url(:things, :new)
      %li.active=link_to pat(:edit), url(:things, :edit, :id => @thing.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:thing)
    .inner
      -form_for :thing, url(:things, :update, :id => @thing.id), :method => :put, :class => :form do |f|
        =partial "things/form", :locals => { :f => f }    
      
-content_for :sidebar, partial("base/sidebar")