.meta_author 
  .avatar 
    .avatar_bg
    %img.avatar_img{:src => "http://www.gravatar.com/avatar/#{@comment.gravatar_hash}?s=58"} 
  - if @comment.url
    %a.name{:href => @comment.url}= @comment.name 
  - else 
    .name= @comment.name  
.comment_wrap   
  .arrow
  .comment= @comment.comment 
.meta_bottom     
  .date_wrap 
    .icon
    .date=@comment.created_at.strftime('%B %d, %Y at %l:%M %p')
  .reply
    %a.comment_reply_link{:href => "#"} Reply