- if @task.status == 'true'
  - taskclass = :completed
- else 
  - taskclass = :started
.wrap{:class => taskclass}     
  .inner 
    .icon
    .title= @task.title 
    - if !@task.note.blank?     
      .note_intro= @task.note_intro               
      %a.view_note{:href => "#"} View Note
      %pre.note_full{:style => "display: none;"}= @task.note