@import "header/*.png";    
@import "misc/*.png"; 
@import "contact/*.png";      

#logo {   
  width: 96px;
  height: 30px;
  @include header-sprite(reserved);
  position: absolute;
  top: 25px;
  left: 25px;
}

#header { margin-top: 30px !important; }  

nav 
{        
  @include header-sprite(menu);     
  height: 57px;
  width: 586px

  ul { margin: 20px 0 0 20px; float: left; }    
  li
  {
    float: left;
    margin-right: 12px;   
    
    a, a:visited {
      color: #f5f3f3;
      font-size: 13px;
      font-family: Museo, "Helvetica Neu", Helvetica, sans-serif;
      font-weight: bold;
    }
  }   
  
  .active a, a:hover, .active a:visited, a:visited:hover { color: #fffd0a; }
}       

#gist, #contact_details {
  margin: 25px 0 0 20px;
  width: 700px;
}     

#gist p { margin-bottom: 0px; }

#day_night {  
  width: 89px;
  height: 99px;
  @include header-sprite(avatar_bg);
  position: absolute;
  right: 25px;
  top: 15px;
}
  
              #switcher { float: left; margin: 28px 0 0 -30px;}
                   #day,
                 #night { width: 21px; height: 21px; margin-bottom: 4px; }
                   #day { @include header-sprite(day_select-default); }
                 #night { @include header-sprite(night_select-default); }
            #day.active,
              .day #day { @include header-sprite(day_select-active); }
          #night.active,
          .night #night { @include header-sprite(night_select-active); }
           .day #avatar { background: image-url('avatar_day.jpg') no-repeat }
         .night #avatar { background: image-url('avatar_night.jpg') no-repeat }
  .day #day_night_label,
.night #day_night_label { margin: 12px auto 0 auto }
  .day #day_night_label { @include header-sprite(during_day-label); width: 46px; height: 9px; }
.night #day_night_label { @include header-sprite(at_night-label); width: 46px; height: 9px; }

#avatar {
  height: 70px;
  margin: 18px 0 0 10px;
  width: 68px;
}
 
#contact_details .close, #gist .close
{
  float: right;
  position: relative;
  margin: -70px -150px 0 0;
  color: #393939;     
  
  .icon {   
    height: 22px;
    width: 22px;   
    @include misc-sprite(close);
    margin: 0px auto; 
  }      
  .label { margin-top: 8px; display: block; }
}                                         
                  .close:hover { font-weight: bold; }   
#contact_details .close .label { margin: 12px 0 0 -5px; position: relative; top: 6px; }  

#contact_details 
{     
               p { margin-bottom: 12px; font-size: 13px; float: left; }
              ul,
              li,
         a.label,
           .icon { float: left }
              li { margin: 0 16px 16px 0 }
         a.label { padding: 2px 0 0 8px }
    #email .icon { @include contact-sprite(email-icon);   }
  #twitter .icon { @include contact-sprite(twitter-icon); }
    #skype .icon { @include contact-sprite(skype-icon);   }
    #gtalk .icon { @include contact-sprite(gtalk-icon);   }
}