@import "slider/*.png"; 
@import "post/*.png"; 

/* * Base Styles *
   ================================================== */
/* ===[ The Nivo Slider styles ]=== */
                 .nivoSlider { position: relative }
             .nivoSlider img { position: absolute; top: 0px; left: 0px; }
/* ===[ If an image is wrapped in a link ]=== */
.nivoSlider a.nivo-imageLink { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; border: 0; padding: 0; margin: 0; z-index: 60; display: none; }
/* ===[ The slices in the Slider ]=== */
                 .nivo-slice { display: block; position: absolute; z-index: 50; height: 100%; }
/* ===[ Caption styles ]=== */
               .nivo-caption { position: absolute; left: 0px; bottom: 0px; background: #000; color: #fff; opacity: 0.8; /* Overridden by captionOpacity setting */ width: 100%; z-index: 89; }
             .nivo-caption p { padding: 5px; margin: 0; }
             .nivo-caption a { display: inline !important }
          .nivo-html-caption { display: none }
/* ===[ Direction nav styles (e.g. Next & Prev) ]=== */
        .nivo-directionNav a { position: absolute; top: 45%; z-index: 99; cursor: pointer; }
               .nivo-prevNav { left: 0px }
               .nivo-nextNav { right: 0px }
/* ===[ Control nav styles (e.g. 1,2,3...) ]=== */
          .nivo-controlNav a { position: relative; z-index: 99; cursor: pointer; }
   .nivo-controlNav a.active { font-weight: bold }
                 .nivo_slider { position: relative; width: 640px; /* Change this to your images width */ height: 360px; /* Change this to your images height */ background: image-url('loading.gif') no-repeat 50% 80%; }
             .nivo_slider img { position: absolute; top: 0px; left: 0px; display: none; }
               .nivo_slider a { border: 0; display: block; } 
               
 
/** My Styles **/   
             .slider_wrap { width: 656px; min-height: 377px; @include post-sprite(image_bg); margin: 0px auto; position: relative; top: -15px; }
             .nivo_slider { float: left; margin: 8px 0 0 8px; }
         .nivo-controlNav { bottom: -28px; left: 260px; position: absolute; }
       .nivo-controlNav a { height: 16px; width: 14px; @include slider-sprite(image_nav); border: 0 none; display: block; float: left; margin: 3px 3px 0 0; text-indent: -9999px; }
.nivo-controlNav a.active { width: 17px; height: 20px; @include slider-sprite(image_nav-active); margin-top: 0px; }
       .nivo-directionNav { display: block !important }
           a.nivo-prevNav { left: -25px }
     .nivo-directionNav a { height: 22px; width: 14px; @include slider-sprite(prev); border: 0 none; display: block; text-indent: -9999px; }
           a.nivo-nextNav { right: -25px; @include slider-sprite(next); }