.clear
#pagination-wrap.wrapper
  %ul.pagination
    - if @posts.prev 
      %li.prev
        %a{:href => "/tags/#{strip_tags(params[:tag])}/page/#{@posts.prev.number}"} Previous
    - if @posts.next 
      %li.next
        %a{:href => "/tags/#{strip_tags(params[:tag])}/page/#{@posts.next.number}"} Next