!!! 5  
%html{:lang => "en" }
  %head 
    %meta{:charset => "UTF-8"}     
    %title About A Notebook
    = css_assets 'index'   
    %script{:charset => "utf-8", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js", :type => "text/javascript"} 
    = js_assets 'index'  
  %body.index              
    - @page = "about"
    = partial "partials/header" 
    %section.wrapper   
      %h1.page_title Working on it       
    = partial "partials/footer"