- @things = Thing.all( :order => "title desc").map { |thing| re = []; re[0] = thing.title; re[1] = thing.id; re }    
- @lists = List.all( :order => "title desc").map { |list| re = []; re[0] = list.title; re[1] = list.id; re }             
- none = []; none[0] = 'None'; none[1] = ''; @lists.push(none);

.group
  =f.label :title
  =f.error_message_on :title
  =f.text_field :title, :class => :text_field
  %span.description Ex: a simple text
  
.group
  =f.label :note
  =f.error_message_on :note
  =f.text_area :note, :class => :text_field
  %span.description Ex: a simple text    
  
.group
  =f.label :note_intro
  =f.error_message_on :note_intro
  =f.text_area :note_intro, :class => :text_field
  %span.description Ex: a simple text  
  
.group
  =f.label :thing_id
  =f.error_message_on :thing_id
  =f.select :thing_id, :options => @things
  %span.description Thing Parent   
  
.group
  =f.label :parent_id
  =f.error_message_on :list_id
  =f.select :parent_id, :options => @lists
  %span.description List Parent    

.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:things, :index)}';return false", :class => :button