.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:quotes, :index)
      %li=link_to pat(:new), url(:quotes, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:quote)
    .inner
      %table.table
        %tr
          %th.first=mat(:quote, :title)
          %th=mat(:quote, :updated_at)
          %th=mat(:quote, :comment_count)
          %th=mat(:quote, :status)
          %th.last="&nbsp;"
        -@quotes.each do |quote|
          %tr
            %td.first=quote.title
            %td=quote.updated_at
            %td=quote.comment_count
            %td=quote.status
            %td.last
              =button_to pat(:edit), url(:quotes, :edit, :id => quote.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:quotes, :destroy, :id => quote.id), :method => :delete, :class => :button_to
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")