.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:quotes, :index)
      %li.active=link_to pat(:new), url(:quotes, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:quote)
    .inner
      -form_for :quote, url(:quotes, :create), :class => :form do |f|
        =partial "quotes/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")