.group
  ==f.label :title
  ==f.error_message_on :title
  ==f.text_field :title, :class => :text_field
  span.description Ex: a simple text

.group
  ==f.label :intro_src
  ==f.error_message_on :intro_src
  ==f.text_area :intro_src, :class => :text_field
  span.description Ex: a simple text
  
.group
  ==f.label :body_src
  ==f.error_message_on :body_src
  ==f.text_area :body_src, :class => :text_field
  span.description Ex: a simple text
 
.group
  ==f.label :tags
  ==f.error_message_on :tags
  ==f.text_field :tags, :class => :text_field
  span.description Ex: a simple text

.group
  ==f.label :status
  ==f.error_message_on :status
  ==f.text_field :status, :class => :text_field
  span.description Ex: a simple text

.group.navform.wat-cf
  ==f.submit pat(:save), :class => :button
  ==f.submit pat(:cancel), :onclick => "window.location='#{url(:notes, :index)}';return false", :class => :button
