- @things = Thing.all( :order => "title desc").map { |thing| re = []; re[0] = thing.title; re[1] = thing.id; re }    
- @tasks = Task.all( :order => "title desc").map { |task| re = []; re[0] = task.title; re[1] = task.id; re }             
- none = []; none[0] = 'None'; none[1] = ''; @tasks.push(none);

.group
  =f.label :title
  =f.error_message_on :title
  =f.text_field :title, :class => :text_field
  %span.description Ex: a simple text
                                        
.group
  =f.label :note
  =f.error_message_on :note
  =f.text_area :note, :class => :text_field
  %span.description Ex: a simple text   

.group
  =f.label :note_intro
  =f.error_message_on :note_intro
  =f.text_aread :note_intro, :class => :text_field
  %span.description Ex: a simple text 

.group
  =f.label :status
  =f.error_message_on :status
  =f.text_field :status, :class => :text_field
  %span.description Ex: a simple text   
   
.group
  =f.label :thing_id
  =f.error_message_on :thing_id
  =f.select :thing_id, :options => @things
  %span.description Thing Parent   

.group
  =f.label :parent_id
  =f.error_message_on :task_id
  =f.select :parent_id, :options => @tasks
  %span.description Task Parent   
    
.group
  =f.label :repeating
  =f.error_message_on :repeating
  =f.check_box :repeating, :class => :check_box
  %span.description Ex: a simple text

.group
  =f.label :canceled_date
  =f.error_message_on :canceled_date
  =f.text_field :canceled_date, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :start_date
  =f.error_message_on :start_date
  =f.text_field :start_date, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :completed_date
  =f.error_message_on :completed_date
  =f.text_field :completed_date, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :completed
  =f.error_message_on :completed
  =f.check_box :completed, :class => :check_box
  %span.description Ex: a simple text

.group
  =f.label :archived_date
  =f.error_message_on :archived_date
  =f.text_field :archived_date, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :archived
  =f.error_message_on :archived
  =f.check_box :archived, :class => :check_box
  %span.description Ex: a simple text

.group
  =f.label :priority
  =f.error_message_on :priority
  =f.text_field :priority, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :canceled
  =f.error_message_on :canceled
  =f.check_box :canceled, :class => :check_box
  %span.description Ex: a simple text

.group
  =f.label :estimated_time
  =f.error_message_on :estimated_time
  =f.text_field :estimated_time, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :due_date
  =f.error_message_on :due_date
  =f.text_field :due_date, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :actual_time
  =f.error_message_on :actual_time
  =f.text_field :actual_time, :class => :text_field
  %span.description Ex: a simple text    

.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:things, :index)}';return false", :class => :button