.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:tasks, :index)
      %li.active=link_to pat(:new), url(:tasks, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:task)
    .inner
      -form_for :task, url(:tasks, :create), :class => :form do |f|
        =partial "tasks/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")